.comments-section {
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    to left,
    rgb(241, 220, 220),
    rgb(121, 121, 114),
    rgb(235, 111, 111)
  );
}

.comments-section-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  border: 1px solid rgb(175, 228, 245);
}

.comments-h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  color: rgb(240, 233, 233);
}

.comments-p {
  display: flex;
  color: beige;
}

.comments-vote {
  display: flex;
  justify-content: space-around;
}

.comments-upVote,
.comments-downVote {
  cursor: pointer;
}

.reply-button {
  cursor: pointer;
}

.reply-section {
  display: flex;
  width: 100%;
  padding: 2rem;
}

.reply-form {
  display: flex;
  flex-direction: column;
  width: 95%;
  align-items: end;
}

.reply-textarea {
  width: 95%;
  border: none;
  border-bottom: 1px solid black;
  height: 1rem;
  background: linear-gradient(
    to left,
    rgb(240, 185, 185),
    rgb(231, 213, 178),
    rgb(248, 248, 165),
    rgb(176, 176, 226)
  );
}

.reply-textarea:focus {
  outline: none;
}

.reply-button-section {
  width: 20%;
  display: flex;
  border: none;
  padding: 1rem;
  cursor: pointer;
  background: linear-gradient(
    to left,
    rgb(250, 199, 250),
    rgb(247, 187, 247),
    rgb(240, 185, 185),
    rgb(245, 218, 218)
  );
}

.reply-span-section {
  display: flex;
  width: 10%;
  justify-content: center;
  padding: 0.7rem;
  background-color: aqua;
  color: rgb(9, 68, 102);
  font-size: 1.4rem;
  cursor: pointer;
}
